<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">-->
<suite name="PHP Travels Suite">
    <test name="Login Test">
        <classes>
<!--            <parameter name="email" value="user@phptravels.com"/>-->
<!--            <parameter name="password" value="demouser"/>-->
            <class name="com.bit.testcases.LoginTest" />
        </classes>

    </test>
</suite>
